#single_container
  #single_container_top
  #single_container_center
    %h2 Forums
    %p.breadCrumb
      %a{:href => "#"} Board Index
      >
      %a{:href => "#"} LG
      >
      %a{:href => "#"} LG enV3 and SDHC

    %form#contentSearch.search{:method => "get", :action => ""}
      %p.fields
        %input#s2{:type => "text", :value => "Search Forum", :name => "s2", :onfocus => "if (this.value == 'Search Forum') {this.value = '';}", :onblur => "if (this.value == '') {this.value = 'Search Forum';}"}
        %button.go_button{:type => "submit", :name => "submit"} GO

    #article_wide
      .article_wide_top
      .article_wide_center
        %h3= @forum.title
        .forum_controls
          %a.messageReply_Masterbutton{:href => url_for(:new_topic, :forum => @forum.permalink)} New Topic

        %table.forumtb_post{:width => "100%", :cellspacing => "0"}
          %thead
            %tr
              %th
              %th Topic
              %th Posts/Threads
              %th Last Post
          %tbody
            - @forum.topics.each do |topic|
              %tr
                %td.forumIcon
                  %img{:src => "/images/forum_newpost_false.jpg", :alt => "No New Posts"}
                %td.forumTitle
                  %p.forumdesc
                    %a.forumLink{:href => "/forums/#{@forum.permalink}/topics/#{topic.permalink}"}= topic.title
                  %p.forumdesc
                %td.forumPosts
                  %p.forumdesc
                    %strong 2 Posts
                  %p.forumdesc 2 Threads
                %td.forumLastPost
                  %p.forumdesc
                    %a.forumLink{:href => "#"} LG Community Rules
                  %p.forumdesc.byPost by LG Product Pro 06-18-2009 17:01
              
        .clear

      .article_wide_bottom

    .clear

  #single_container_bottom
